@model CVGS.Models.EVENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EVENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.EventTitle)*@
            @Html.DisplayName("Event Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Event Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayName("Active Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayName("Date Created")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EventId)
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.isRegistered == false)
                {
                    <input type="submit" value="Register For Event" class="btn btn-default" />
                    <input type="hidden" id="" value="false" name="isRegistered" />
                }
                else
                {
                    <input type="submit" value="Unregister For Event" class="btn btn-default" />
                    <input type="hidden" id="" value="true" name="isRegistered" />
                }
                
                
            </div>
        </div>
    }
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
