@model CVGS.Models.EVENT

@{
    ViewBag.Title = "Event Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <section>
        <h4 style="display:inline-block">@Html.DisplayFor(model => model.EventTitle)</h4>
        <div style="float:right">
            <p style="display:inline-block">@Html.ActionLink("Edit", "Edit", new { id = Model.EventId })</p>&ensp;|&ensp;
            <p style="display:inline-block">@Html.ActionLink("Delete", "Delete", new { id = Model.EventId })</p>
        </div>
    </section>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EventId)
        
        <div class="form-group" style="float:right">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.isRegistered == false)
                {
                    <input type="submit" value="Register For Event" class="btn btn-default" />
                    <input type="hidden" id="" value="false" name="isRegistered" />
                }
                else
                {
                    <input type="submit" value="Unregister For Event" class="btn btn-default" />
                    <input type="hidden" id="" value="true" name="isRegistered" />
                }
                
                
            </div>
        </div>
    }

    <div style="margin-top: 25px;">
        @Html.ActionLink("Back", "Index")
    </div>
    
</div>
