@model CVGS.ViewModels.EventAssociationsViewModel

@{
    ViewBag.Title = "Event Details";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Events
</a>

<div>
    <section class="action-bar">
        <h4 style="display:inline-block">@Html.DisplayFor(model => model.EventTitle)</h4>
        @if (Session["MemberRole"].ToString() == "Admin" || Session["MemberRole"].ToString() == "Employee")
        {
            <div class="actions">
                <a href="@Url.Action("Edit", new { id = Model.EventId })" class="btn btn--action btn--empty"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("Delete", new { id = Model.EventId })" class="btn btn--delete btn--empty"><i class="fa fa-trash"></i></a>
            </div>
        }
    </section>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @* Only allow register/unregistering for active events (non-cancelled) *@
    @if (Model.ActiveStatus)
    {
        using (Html.BeginForm("Register", "Events", new { id = Model.EventId }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EventId)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (Model.IsRegistered)
                    {
                        <button type="submit" class="btn btn--delete"><i class="fa fa-calendar-minus-o"></i>Unregister</button>
                        <input type="hidden" id="" value="true" name="isRegistered" />
                    }
                    else
                    {
                        <button type="submit" class="btn btn--action"><i class="fa fa-calendar-plus-o"></i>Register</button>
                        <input type="hidden" id="" value="false" name="isRegistered" />
                    }


                </div>
            </div>
        }
    }
</div>
