@model IEnumerable<CVGS.ViewModels.EventAssociationsViewModel>

@{
    ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

@if (Session["MemberRole"].ToString() == "Admin" || Session["MemberRole"].ToString() == "Employee")
{
    <p>
        <a href="@Url.Action("Create")" class="btn btn--action">
            <i class="fa fa-plus"></i>Add Event
        </a>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Event Name", "Index", new { sort = "title", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sort = "location", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sort = "date", order = @ViewBag.listSortAsc })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="flex-row">
                @if (item.ActiveStatus)
                {
                    @Html.DisplayFor(modelItem => item.EventTitle)
                }
                else
                {
                    <em style="color: dimgrey;">@Html.DisplayFor(modelItem => item.EventTitle)</em>
                }
                @if (item.IsRegistered)
                {
                    @:<span class="indicator indicator--registered">R</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td style="width: 1px; white-space: nowrap">
                <a href="@Url.Action("Details", new {id = item.EventId})" class="btn btn--action btn--empty btn--inline">
                    <i class="fa fa-search"></i>
                </a>
            </td>
        </tr>
    }

</table>
