@model IEnumerable<CVGS.Models.EVENT>

@{
    ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Event Name", "Index", new { sort = "title", order = @ViewBag.listSortAsc})
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sort = "location", order = @ViewBag.listSortAsc})
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sort = "date", order = @ViewBag.listSortAsc})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id=item.EventId })
        </td>
    </tr>
}

</table>
