@model CVGS.Models.REVIEW

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<a href="@Url.Action("Details", "Games", new {id = Model.GameId})" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Game Details
</a>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MemberId)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.GameId)

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*TODO: Get rid of magic number "5"*@
                @for (int i = 1; i <= 5; i++)
                {
                    @Html.RadioButtonFor(model => model.Rating, i, new { id = "rating" + i, @class = "radio-inline" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ReviewText, new { @class = "form-control review-textarea", rows = "5" })
                @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 form__actions">
                @Html.ActionLink("Cancel", "Details", "Games", new { id = Model.GameId }, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn--save"><i class="fa fa-check"></i>Update</button>
            </div>
        </div>
    </div>
}
