@model CVGS.Models.ORDERHEADER

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS1.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS1.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDITCARD.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDITCARD.CardNumber)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEMBER.FName) @Html.DisplayFor(model => model.MEMBER.LName)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Title
            </th>
        </tr>

        @foreach (var item in Model.ORDERITEMs)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GAME.Title)
                </td>
            </tr>
        }
    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @if ((string)Session["MemberRole"] != "Employee" && (string)Session["MemberRole"] != "Admin")
    {
        @Html.ActionLink("Back to List", "MyOrders")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }

</p>
