@model IEnumerable<CVGS.Models.ORDERHEADER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS1.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREDITCARD.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMBER.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS1.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREDITCARD.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEMBER.FName) @Html.DisplayFor(modelItem => item.MEMBER.LName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
