@model IEnumerable<CVGS.Models.ORDERHEADER>

@{
    ViewBag.Title = "Pending Orders";
}

<h2>@ViewBag.Title</h2>

<div class="action-bar" style="margin-bottom: 10px;">
    <a href="@Url.Action("All")" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>All Orders
    </a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.DateCreated).ToHtmlString(), "Pending", new { search = ViewBag.search, sort = "date", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Billing Address", "Pending", new { search = ViewBag.search, sort = "billaddr", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Shipping Address", "Pending", new { search = ViewBag.search, sort = "shipaddr", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.CREDITCARD.CardNumber).ToHtmlString(), "Pending", new { search = ViewBag.search, sort = "cc", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Name", "Pending", new { search = ViewBag.search, sort = "name", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Cost", "Pending", new { search = ViewBag.search, sort = "cost", order = @ViewBag.listSortAsc })
        </th>
        <th style="width: 1px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS1.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREDITCARD.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEMBER.FullName)
        </td>
        <td>
            @(item.ORDERITEMs.Sum(i => i.Quantity * i.GAME.Cost).ToString("C"))
        </td>
        <td style="white-space: nowrap;">
            <a href="@Url.Action("Process", new { id = item.OrderId })" class="btn btn--action btn--inline btn--empty">
                <i class="fa fa-spinner"></i> Process
            </a>
            <a href="@Url.Action("Details", new { id = item.OrderId })" class="btn btn--default btn--inline btn--empty">
                <i class="fa fa-search"></i>
            </a>
            @if (!item.Processed)
            {
                <a href="@Url.Action("Delete", new { id = item.OrderId })" class="btn btn--delete btn--inline btn--empty">
                    <i class="fa fa-trash"></i>
                </a>
            }
        </td>
    </tr>
}

</table>
