@model CVGS.Models.ORDERHEADER

@{
    ViewBag.Title = "Process";
}

<h2>Process</h2>

<h3>Are you ready to process this order?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS1.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS1.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDITCARD.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDITCARD.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEMBER.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEMBER.FName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Process" class="btn btn-default" /> |
            @Html.ActionLink("Back to Pending Orders", "Pending")
        </div>
    }
</div>
