@model CVGS.Models.CREDITCARD

@{
    ViewBag.Title = "Credit Card Details";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Cards
</a>

<div>
    <hr />
    <div class="action-bar">
        <div class="actions">
            <a href="@Url.Action("Edit", new {id = Model.CardId})" class="btn btn--action btn--empty"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Delete", new {id = Model.CardId})" class="btn btn--delete btn--empty"><i class="fa fa-trash"></i></a>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOnCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOnCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
    </dl>
</div>
