@model IEnumerable<CVGS.Models.CREDITCARD>

@{
    ViewBag.Title = "Credit Cards";
}

<h2>@ViewBag.Title</h2>

<hr/>

<div class="row">
    @Html.Partial("../Account/_ProfileLinks")

    <section class="col-md-9 col-lg-10">
        <p>
            <a href="@Url.Action("Create")" class="btn btn--action">
                <i class="fa fa-plus"></i>Add Card
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOnCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MEMBER.FName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOnCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MEMBER.FName)
                    </td>
                    <td class="actions--inline">
                        <a href="@Url.Action("Details", new { id = item.CardId })" class="btn btn--action btn--inline btn--empty">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="@Url.Action("Edit", new { id = item.CardId })" class="btn btn--action btn--inline btn--empty">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.CardId })" class="btn btn--delete btn--inline btn--empty">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </section>
</div>
