<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVGS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CVGS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Session["MemberRole"] != null)
                        {
                            if (Session["MemberRole"].Equals("Employee") || Session["MemberRole"].Equals("Admin"))
                            {
                                <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                            }
                        }
                    }
                    <li>@Html.ActionLink("Games", "", "Games")</li>
                    <li>@Html.ActionLink("Events", "", "Events")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (Session["MemberId"] != null)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Library")" class="btn">
                                    Library
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Wishlist")" class="btn">
                                    <i class="fa fa-gift"></i>Wishlist
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Cart")" class="btn">
                                    <i class="fa fa-shopping-cart"></i>Cart
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Account")" class="btn">
                                    <i class="fa fa-user"></i>Profile
                                </a>
                            </li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
