@model IEnumerable<CVGS.Models.MEMBER>

@{
    ViewBag.Title = "Members";
}

<h2>Members List</h2>

<p>
    <a href="@Url.Action("Index")" class="btn btn--default">
        <i class="fa fa-arrow-left"></i>Reports
    </a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavPlatform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROLE.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavPlatform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROLE.RoleName)
        </td>
    </tr>
}

</table>
