@model CVGS.Models.GAME

@{
    ViewBag.Title = "Game Details";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Games
</a>

<div>
    <section class="action-bar">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <div class="actions">
            <a href="@Url.Action("Edit", new {id = Model.GameId})" class="btn btn--action btn--empty"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Delete", new {id = Model.GameId})" class="btn btn--delete btn--empty"><i class="fa fa-trash"></i></a>
        </div>
    </section>
    <section class="row">
        @{
            if (Model.ImageUrl != null && Model.ImageUrl != "")
            {
                <img src="@Url.Content(Model.ImageUrl)" class="game-image col-md-3" />
            }
        }
        <dl class="dl-horizontal col-md-9">
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Developer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Developer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>Playable on:</dt>
            <dd>
                @foreach (var p in Model.PLATFORMs)
                {
                    @p.Developer @: @p.PlatformName <br />
            }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Digital)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Digital)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt>
                Average Member Rating
            </dt>
            <dd>
                @if (Model.REVIEWs.Count > 0)
            {
                    @Model.REVIEWs.Average(m => m.Rating).ToString("#.##")@:/5
            }
            else
            {
                    @:No ratings available
            }

            </dd>
        </dl>
    </section>

    @Html.Partial("_GameReviews", Model)
</div>
