@model CVGS.ViewModels.GameAssociationsViewModel

@{
    ViewBag.Title = "Game Details";
}

@{
    // A game without a picture should take up the full width
    int detailsColSize = String.IsNullOrEmpty(Model.ImageUrl) ? 12 : 9;
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Games
</a>

<div>
    <section class="action-bar">
        <h4 class="game__title">@Html.DisplayFor(model => model.Title)</h4>

        @if (Session["MemberRole"].ToString() == "Admin" || Session["MemberRole"].ToString() == "Employee")
        {
            <div class="actions">
                <a href="@Url.Action("Edit", new { id = Model.GameId })" class="btn btn--action btn--empty"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("Delete", new { id = Model.GameId })" class="btn btn--delete btn--empty"><i class="fa fa-trash"></i></a>
            </div>
        }
    </section>
    <section class="row">
        @{
            if (!String.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" class="game-image col-md-3" />
            }
        }
        <div class="col-md-@detailsColSize">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Developer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Developer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PublicationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>Playable on:</dt>
                <dd>
                    @foreach (var p in Model.PLATFORMs)
                    {
                        @p.Developer @: @p.PlatformName <br />
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Digital)
                </dt>
                <dd>
                    @((Model.Digital) ? "Yes" : "No")
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>
                <dt>
                    Average Rating
                </dt>
                <dd>
                    @if (Model.AvgRating >= 0)
                    {
                        @Model.AvgRating.ToString("#.##")@:/5
                    }
                    else
                    {
                        <em style="color: darkgrey;">No ratings available</em>
                    }

                </dd>
            </dl>

            @* Indicate whether item can be added to cart or is already in cart *@
            <div class="action-bar reverse">
                <div class="actions">
                    @if (Model.InCart)
                    {
                        // Allow members to return to the current Game Details page after viewing their cart
                        <a href="@Url.Action("Index", "Cart", new { redirectGameId = Model.GameId })" class="btn btn--default">
                            <i class="fa fa-shopping-cart"></i>In Cart
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Add", "Cart", new {id = Model.GameId})" class="btn btn--action">
                            <i class="fa fa-cart-plus"></i>Add to Cart
                        </a>
                    }
                </div>
            </div>
        </div>
    </section>



    @Html.Partial("_GameReviews", Model)
</div>
