@model IEnumerable<CVGS.Models.GAME>

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

@using (Html.BeginForm("Index", "Games"))
{
    <p>
        @Html.ActionLink("Create New Game", "Create")
        <input id="search" type="text" placeholder="Search" name="search" class=" search-bar pull-right">
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            Rating
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink( item.Title,"Details", new { id = item.GameId }) @((item.Digital)? "(Digital)" : "")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td class="text-center">
            @if (item.REVIEWs.Count > 0)
            {
                @item.REVIEWs.Average(m => m.Rating).ToString("#.##")@:/5
            }
            else
            {
                @:N/A
            }
        </td>
    </tr>
}

</table>
