@model CVGS.Models.ADDRESS

@{
    ViewBag.Title = "Address Details";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Addresses
</a>

<div>
    <hr />
    <div class="action-bar">
        <div class="actions">
            <a href="@Url.Action("Edit", new {id = Model.AddressId})" class="btn btn--action btn--empty"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Delete", new {id = Model.AddressId})" class="btn btn--delete btn--empty"><i class="fa fa-trash"></i></a>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            Primary Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVSTATE.COUNTRY.CountryCode)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PROVSTATE.COUNTRY.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVSTATE.ProvStateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVSTATE.ProvStateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESSTYPE.AddressTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESSTYPE.AddressTypeName)
        </dd>

    </dl>
</div>
