@model CVGS.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>

<hr />
<div class="row">
    @Html.Partial("_ProfileLinks")
    <div class="dl-horizontal col-md-9 col-lg-10" style="margin-top: 0;">

        @if (TempData["PasswordUpdateError"] != null)
        {
            <div class="alert alert-danger">
                @TempData["PasswordUpdateError"]
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPwd, new { @class = "col-md-3 control-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.OldPwd, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.OldPwd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPwd, new { @class = "col-md-3 control-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.NewPwd, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.NewPwd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPwdCheck, new { @class = "col-md-3 control-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.NewPwdCheck, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.NewPwdCheck, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-9">
                        <input type="submit" value="Change Password" class="btn btn--action" />
                    </div>
                </div>
            </div>
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
