@model CVGS.ViewModels.DeleteAccountViewModel

@{
    ViewBag.Title = "Delete Account";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Profile
</a>

<h3>Are you sure you want to delete your account?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MemberId)
        <div class="form-group">
            Deactivate Account: @Html.RadioButtonFor(m => m.FullDelete, false)<br />
            Delete Account @Html.RadioButtonFor(m => m.FullDelete, true) <span class="text-warning" id="delete-warning">Are you sure? This cannot be undone.</span>
        </div>
        <div class="form__actions">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn--delete"><i class="fa fa-trash"></i>Delete</button>
        </div>
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#delete-warning").hide();
    $('input[type=radio][name=FullDelete]').change(function () {
        $("#delete-warning").toggle();
    })
</script>
