@model CVGS.ViewModels.DeleteAccountViewModel

@{
    ViewBag.Title = "Delete Account";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete your account?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MemberId)
        <div class="form-group">
            Deactivate Account: @Html.RadioButtonFor(m => m.FullDelete, false)<br />
            Delete Account @Html.RadioButtonFor(m => m.FullDelete, true)
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Account", "Index")
        </div>
    }
</div>
