@model CVGS.Models.MEMBER

@{
    ViewBag.Title = "Account Details";
}

<h2>@Html.DisplayFor(model=>model.UserName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavPlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavPlatform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavQuote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavQuote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            <p>Address</p>
        </dt>

        <dd>
            <p>@ViewBag.address</p>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Manage Credit Cards", "Index", "CreditCard") | 
    @Html.ActionLink("Manage Addresses", "Index", "Address") | 
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |
    @Html.ActionLink("Delete My Account", "Delete", new { id = Model.MemberId })
</p>
