@model CVGS.Models.MEMBER

@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>

<hr />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<div class="row">
    @Html.Partial("_ProfileLinks")
    <div class="col-md-9 col-lg-10">
        <dl class="dl-horizontal" style="margin-top: 0;">

            <dt>
                Name
            </dt>

            <dd>
                @Model.FName @Model.LName
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FavPlatform)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FavPlatform)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FavCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FavCategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FavGame)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FavGame)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FavQuote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FavQuote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateJoined)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateJoined)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActiveStatus)
            </dt>

            <dd>
                @((Model.ActiveStatus) ? "Yes" : "No")
            </dd>
        </dl>
    </div>
</div>
<section class="action-bar" style="margin-bottom: 20px;">
    <div class="actions">
        <a href="@Url.Action("Edit", new {id = Model.MemberId})" class="btn btn--action"><i class="fa fa-pencil"></i>Edit Profile</a>
        <a href="@Url.Action("Delete", new {id = Model.MemberId})" class="btn btn--delete"><i class="fa fa-trash"></i>Delete Account</a>
    </div>
</section>
