@model CVGS.Models.MEMBER

@{
    ViewBag.Title = "Account";
}

<h2>
    @Html.DisplayFor(model => model.FName) @Html.DisplayFor(model => model.LName)<br />
</h2>

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>Members
</a>


<div>
    <hr/>

    @if (!string.IsNullOrEmpty(Model.FavQuote))
    {
        <blockquote class="profile__quote">
            @Html.DisplayFor(model => model.FavQuote)
        </blockquote>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavPlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavPlatform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @((Model.ActiveStatus) ? "Yes" : "No")
        </dd>

    </dl>
    @*<h4>Friends</h4>
        <dl class="dl-horizontal">
            @foreach (var m in Model.FRIENDSHIPs1.Where(m => m.FRIEND.ActiveStatus))
            {
                <dt>@m.FRIEND.FName @m.FRIEND.LName</dt>
                <dd>@m.FRIEND.UserName</dd>
            }
        </dl>*@
</div>
<p>
    @if ((string)Session["MemberRole"] == "Admin")
    {
        <div class="col-md-offset-2 col-md-4 form__actions">
            <a href="@Url.Action("Role", new {id = Model.MemberId})" class="btn btn--action">
                <i class="fa fa-user"></i>Change Role
            </a>
        </div>
    }
</p>
