@model IEnumerable<CVGS.Models.MEMBER>

@{
    ViewBag.Title = "Members";
}

<h2>@ViewBag.Title</h2>

<div class="action-bar" style="margin-bottom: 10px;">
    <a href="@Url.Action("Index", "Employee")" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>Dashboard
    </a>

    <div class="actions">
        @using (Html.BeginForm("Index", "Members"))
        {
            <div class="search-bar">
                <div class="input-group">
                    <input id="search" type="text" placeholder="Search" name="search" value="@ViewBag.search" class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn--action btn--empty">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Username", "Index", new { search = ViewBag.search, sort = "username", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { search = ViewBag.search, sort = "name", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { search = ViewBag.search, sort = "email", order = @ViewBag.listSortAsc })
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { search = ViewBag.search, sort = "role", order = @ViewBag.listSortAsc })
        </th>
        <th style="width: 1px; white-space: nowrap;"></th>
    </tr>

    @if (Model.ToList().Count == 0)
    {
        <tr>
            <td colspan="5">
                <em>No items found</em>
            </td>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", new { id = item.MemberId })<br />
                <small class="text-muted">
                    <em>
                        Joined @Html.DisplayFor(modelItem => item.DateJoined)
                        @if (!item.ActiveStatus)
                        {
                            <br />
                            <span class="text-warning">Account Deactivated</span>
                        }
                    </em>
                </small>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE.RoleName)
            </td>
            <td>
                <a href="@Url.Action("Details", new {id = item.MemberId})" class="btn btn--action btn--empty btn--inline">
                    <i class="fa fa-search"></i>
                </a>
            </td>
        </tr>
    }

</table>
