@model CVGS.ViewModels.CartViewModel

@{
    ViewBag.Title = "My Cart";
}

<h2>@ViewBag.Title</h2>

@* Display back button to allow users to go back to the Game Details page (if arriving from there) *@
@if (ViewBag.ReturnGameId != null)
{
    <a href="@Url.Action("Details", "Games", new { id = (int)ViewBag.ReturnGameId })" class="btn btn--default">
        <i class="fa fa-arrow-left"></i>Back to Game
    </a>
}

@if (Model.CartItems.Count > 0)
{
    using (Html.BeginForm("Update", "Cart"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MemberId)
            @for (int i = 0; i < Model.CartItems.Count; i++)
            {
                @Html.HiddenFor(m => Model.CartItems[i].MemberId)

                @Html.HiddenFor(m => Model.CartItems[i].GameId)

                @Html.HiddenFor(m => Model.CartItems[i].DateAdded)

                <div class="form-group">
                    @Html.Label("Quantity", Model.CartItems[i].GAME.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.EditorFor(modelItem => Model.CartItems[i].Quantity, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                            <span class="input-group-btn">
                                <a href="@Url.Action("Delete", new { id = Model.CartItems[i].GameId })" class="btn btn--empty btn--delete">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(modelItem => Model.CartItems[i].Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Update Cart" class="btn btn--save" name="save" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Checkout" class="btn btn--action" name="checkout" formaction="@Url.Action("Checkout")"/>
                </div>
            </div>
        </div>
    }
    @*@Html.ActionLink("Checkout Cart", "Checkout", "Order", null, new { @class = "btn btn--action" })*@
}
else
{
    <hr />
    <h4>There are no items in your cart.</h4>
}

<div class="action-bar">
    <a href="@Url.Action("Index", "Games")" class="btn btn--action">
        <i class="fa fa-shopping-cart"></i>Continue Shopping
    </a>
</div>
